.reveal .author {
  width: 50%;
  float: left;
}

.reveal .author-photo {
  border-radius: 50%;
  max-width: 150px;
}

.reveal {
  color: #DBE6E6;
}

.reveal.code-sample-container {

}

.reveal.code-sample-col {
  width: 50%;
  display: inline-block;
}